.top{background-color: #E4f9f5;

  background-image: url("giphy.gif");
  background-position: top;


width: 100%;

margin: 0;}

body{ margin: 0;
  font-family: sacramento; text-align: center;
  background-color: #E4f9f5;
}
h1{margin:0 auto 0 auto;
  width: 30%;
  color: #40514e;
  font-size: 30px;
}
  .yo{height: 100px;
padding-right: 50px;
}
.yo2{height:120px;
padding-left: 40px;
padding-bottom: 15px;}
.table1{margin:100px auto 0 auto;}

.yo1{margin-top: 100px;
  border-radius: 100%;
height: 80px;
}
.h4{
text-align: center;
color: #11999e;
font-size: 30px;
margin-left: auto;}
.h4again{
color: #11999e;
margin-left: auto;
font-size: 30px;}
.table2{margin: 5px auto 5px auto;
  height:40px;
width:30%;
display: inline-table;}
.tt{background-color:#11999e;
position: fixed;
width:100%;
height: 50px;}
.tr1{

background-color: #40514e;}
.t1{font-size: 20px;
  border-radius: 10px;
color: #11999e;}
.t2{border-radius: 10px;
  font-size: 20px;
color: #11999e;}
.t3{border-radius: 10px;
  font-size: 20px;
color: #11999e;}
.surprise{color: #E4f9f5;}
.about{color: #E4f9f5;}
.memories{color: #E4f9f5;}
hr {border-width: 10px;
  border-color:  #11999e;
border-style: dotted none none none;
margin-top: 100px;
width: 10%;
}
.d9z{margin: 100px auto auto auto;
height:250px;
width: 45%;
display: block;}
.aa{height: 30px;
border-radius: 100%;
display: inline-table;
position: relative;
right:33%;
}
.img1{width:  60%;}
.surprise:hover{color: #11999e;}
.about:hover{color:#11999e;}
.memories:hover{color:#11999e;}
.classless{width: 100%;}
.table3{margin: auto;}
.video1{height: 500px;
border-radius: 10%;
margin-top: 50px;}
.ppp{font-size: 50px;}

.h11{font-size: 100px;}
.h41{
text-align: center;
color: #11999e;
font-size: 20px;
margin-left: auto;}
.hi{font-size: 40px;}
